<h2 mat-dialog-title id="titulo">Documentos referenciados</h2>

<form novalidate [formGroup]="documentoForm" (ngSubmit)="action()">
    <mat-dialog-content class="mat-typography ">
        
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="tipoDocumentoDocRel" [required]="true" placeholder="Seleccione el tipo de documento">
                <mat-option value="01">Factura</mat-option>
                <mat-option value="03">Boleta de venta</mat-option>
                <mat-option value="09">Guia de Remision</mat-option>
                <mat-option value="50">DAM</mat-option>
            </mat-select>
        </mat-form-field>        

        <mat-form-field class="example-full-width w-100" appearance="outline">
            <mat-label>Número de documento Relacionado</mat-label>
            <input type="text" matInput formControlName="numeroDocumentoDocRel" [required]="true" placeholder="Ingrese el número de documento relacionado">
            <mat-error *ngIf="documentoForm.get('numeroDocumentoDocRel')!.hasError('required') && documentoForm.get('numeroDocumentoDocRel')!.touched"> El número de documento es obligatorio</mat-error>
            <mat-error *ngIf="documentoForm.get('numeroDocumentoDocRel')!.hasError('maxlength') && documentoForm.get('numeroDocumentoDocRel')!.touched"> El número de documento no puede ser mayor a 11 digitos</mat-error>
            <mat-error *ngIf="documentoForm.get('numeroDocumentoDocRel')!.hasError('minlength') && documentoForm.get('numeroDocumentoDocRel')!.touched"> El número de documento no puede ser menor a 8 digitos</mat-error>
            <mat-error *ngIf="documentoForm.get('numeroDocumentoDocRel')!.hasError('pattern') && documentoForm.get('numeroDocumentoDocRel')!.touched"> El número de documento solo acepta números</mat-error>
        </mat-form-field> 

        <mat-form-field class="example-full-width w-100" appearance="outline">
            <mat-label>Número Documento Emisor </mat-label>
            <input type="text" matInput formControlName="numeroDocumentoEmisorDocRel" [required]="true" placeholder="Ingrese el número de documento emisor"/>
            <mat-error *ngIf="documentoForm.get('numeroDocumentoEmisorDocRel')!.hasError('required') && documentoForm.get('numeroDocumentoEmisorDocRel')!.touched"> El nombre de empresa es obligatorio</mat-error>
        </mat-form-field> 
                
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tipo de documento Emisor</mat-label>
            <mat-select formControlName="tipoDocumentoEmisorDocRel" [required]="true" placeholder="Seleccione el tipo de documento del emisor">
                <mat-option value="6">RUC</mat-option>
                <mat-option value="1">DNI</mat-option>
                <mat-option value="4">CARNET DE EXTRANJERIA</mat-option>
                <mat-option value="7">PASAPORTE</mat-option>
            </mat-select>
        </mat-form-field> 
        
    </mat-dialog-content>
    
    <mat-dialog-actions align="end" class="p-3">
        <button mat-stroke-button color="primary" (click)="onNoClick($event)" class="btn btn-danger me-3"> Cancelar  </button>
        <button mat-stroke-button color="primary"  type="submit"  [disabled]="documentoForm.invalid" class="btn btn-primary" > {{ boton }} </button>
    </mat-dialog-actions>

</form>
