
  <h2 mat-dialog-title>Productos</h2>
  <mat-dialog-content>
    <div class="col-md-7 row float-end p-3">
        <div class="col-md-9 ">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese una palabra para buscar" #input>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
          <div class="p-2 col-md-3 ">
        <button mat-stroke-button color="primary" class="btn btn-primary float-end" style="white-space: nowrap;" (click)="openDialogItems()">Agregar item</button>
      </div>
</div>
  <div class="mat-elevation-z3">
  <table  mat-table [dataSource]="dataSource" >

    <!-- Codigo de item -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef  style="width: 20% !important;white-space: nowrap;"> Codigo </th>
      <td mat-cell *matCellDef="let element" (click)="ElemntoElegido(element)" style="cursor: pointer;"> {{element.codigo}} </td>
    </ng-container>

    <!-- Unidad de medida -->
    <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef style="width: 15% !important;text-align: center;white-space: nowrap;"> Unidad de medida </th>
      <td mat-cell *matCellDef="let element" (click)="ElemntoElegido(element)" style="text-align: center; cursor: pointer;"> {{element.unidadmedida}} </td>
    </ng-container>
    <!-- Descripcion -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element" (click)="ElemntoElegido(element)" style="cursor: pointer;"> {{element.descripcion}} </td>
    </ng-container>
    <!-- Opciones -->
    <ng-container matColumnDef="Opt">
      <th mat-header-cell *matHeaderCellDef style="width: 14% !important;text-align: center;"> Opt </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex align-items-center">
          <button mat-raised-button color="warn" class="buttonchunqued" (click)="eliminarProducto(element)" matTooltip="Eliminar el producto"
          aria-label="Eliminar el producto"><mat-icon>delete</mat-icon></button>
          <button mat-raised-button class="ms-3 btn btn-primary buttonchunqued" (click)="editarProducto(element)" matTooltip="Modificar el producto"
          aria-label="Modificar el producto"><mat-icon>edit</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="input.value!=''" class="mat-cell" colspan="4">No se encontro datos filtrando por: "{{input.value}}"</td>
      <!-- <td *ngIf="ELEMENT_DATA.length<1" class="mat-cell text-center" colspan="4">No existen items asignados a la guia</td> -->
    </tr>
  </table>
    <mat-paginator #paginator (page)="yourHandler($event.pageIndex, $event.pageSize)" previousPageLabel="Pagina anterior" nextPageLabel="Pagina siguiente" [pageSizeOptions]="[5, 10, 20]" [length]="cantidad" itemsPerPageLabel="Items por pagina" aria-label="Select page"></mat-paginator>
  </div>
  </mat-dialog-content>
