<h2 mat-dialog-title id="titulo">Documentos referenciados</h2>

<mat-dialog-content class="mat-typography pt-2">
    <div class="d-flex align-items-center">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder=" " #input>
      </mat-form-field>
      <button mat-raised-button (click)="crearDoc()"
        class="btnAdd btn btn-primary mb-4 butondeadd" matTooltip="Agregar un nuevo documento referenciado"
        aria-label="Agregar una nueva empresa"><mat-icon>add</mat-icon></button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="tipoDocumentoDocRel">
          <th mat-header-cell *matHeaderCellDef> Tipo Documento </th>
          <td mat-cell *matCellDef="let element" > {{element.tipoDocumentoDocRel}} </td>
        </ng-container>
        <ng-container matColumnDef="numeroDocumentoDocRel">
          <th mat-header-cell *matHeaderCellDef> Número Documento Relacionado</th>
          <td mat-cell *matCellDef="let element" > {{element.numeroDocumentoDocRel}} </td>
        </ng-container>
        <ng-container matColumnDef="numeroDocumentoEmisorDocRel">
          <th mat-header-cell *matHeaderCellDef> Número Doc Emisor </th>
          <td mat-cell *matCellDef="let element" > {{element.numeroDocumentoEmisorDocRel}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoDocumentoEmisorDocRel">
          <th mat-header-cell *matHeaderCellDef> Tipo Doc Emisor </th>
          <td mat-cell *matCellDef="let element" > {{element.tipoDocumentoEmisorDocRel}} </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <button mat-raised-button color="warn" class="buttonchunqued btnOpt" (click)="eliminarDoc(element)" matTooltip="Eliminar el doc referenciado"><mat-icon>delete</mat-icon></button>
              <button mat-raised-button class="ms-3 btn btn-primary buttonchunqued btnOpt" (click)="editarDoc(element)" matTooltip="Editar el doc referenciado"><mat-icon>edit</mat-icon></button>
            </div>
          </td>
        </ng-container>    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="p-3">
      <button mat-stroke-button color="primary"  (click)="onNoClick()" class="btnCancelar btn btn-danger me-3">Cancelar</button>
    </mat-dialog-actions>