.btnOpt{
    height: 30px !important;
    width: 10px !important;
}
.btnAdd{
    height: 56px!important;
}

button > mat-icon{
    font-size: 25px!important;
    width: 25px;
    height: 25px;
    padding-right: 0px!important;
    margin-right: 0px!important;
}

.btnCancelar {
    height: 45px!important;
}

