<mat-card>
  <mat-card-header>
    <mat-card-title>{{tituloGuia}}</mat-card-title>
    <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-body class="p-3">

    <form class="example-form">
      <div class="row">
        <div class="col-md-3">
          <app-empresa-component *ngIf="tipo=='Remitente'" (submitClicked)="EmpresaSeleccionada($event)"  [titulo]="'Empresa'"></app-empresa-component>
          <app-transportista *ngIf="tipo=='Transporte'" (submitClicked)="TransporteSeleccionada($event)"></app-transportista>
        </div>
        <div class="col-md-3">
          <app-origen-component  [RucEmisor]="SeleccionEmpresa?.numerodocumentoemisor" (submitClicked)="OrigenSelecionado($event)"></app-origen-component>
        </div>
        <div class="col-md-2">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Serie</mat-label>
            <mat-select (selectionChange)="SerieSeleccionada($event)" [required]="true">
              <mat-option *ngFor="let item of tablaSeries" [value]="item.serie">{{item.serie| slice : 0 : 4}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-form-field w-100" appearance="outline">
            <mat-label>Fecha de emision</mat-label>
            <input matInput [matDatepicker]="datepicker" [formControl]="FechaEnvio"(dateChange)="CambioFechaEnvio($event)" [min]="ObtenerFechaMinima()">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-form-field w-100" appearance="outline">
            <mat-label>Fecha de translado</mat-label>
            <input matInput [matDatepicker]="datepicker1" [formControl]="FechaTrnaslado" (dateChange)="CambioFechaTrnaslado($event)" [min]="ObtenerFechaMinima()">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker1"></mat-datepicker-toggle>
            <mat-datepicker #datepicker1>
            </mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3" *ngIf="tipo=='Transporte'">
          <app-empresa-component  (submitClicked)="EmpresaSeleccionada($event)"  [titulo]="'Remitente'"></app-empresa-component>
        </div>
        <div class="col-md-3">
          <mat-form-field  class="w-100" appearance="outline" >
            <mat-label>Seleccione una modalidad</mat-label>
            <mat-select (selectionChange)="ModalidadSelected($event)" [required]="true">
              <mat-option value="01">Publico</mat-option>
              <mat-option value="02">Privado</mat-option>
              <mat-option value="03">Privado (M1 o L)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Seleccione un motivo</mat-label>
            <mat-select  (selectionChange)="MotivoSelected($event)" [required]="true">
              <mat-option *ngFor="let item of Motivos" [value]="item.codigo">{{item.descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width w-100" appearance="outline">
            <mat-label>Nro bultos</mat-label>
            <input matInput placeholder="Ingrese el numero de bultos" type="number" value="" (keyup)="NroButlosChange($event)">
          </mat-form-field>
        </div>
        <div class="col-md-3" >
          <div class="row">
            <div class="col-md-7">
              <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>Peso bruto</mat-label>
                <input matInput placeholder="Ingrese el peso bruto" type="number" value="" [required]="true" (keyup)="PesoBrutoChange($event)">
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>Unidad de medida</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput
                       [formControl]="stateCtrl"
                      [required]="true"
                      [matAutocomplete]="auto" >
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="unidadesDeMedidaChange($event)">
                  <mat-option [value]="item.valor" *ngFor="let item of filteredOptions | async">{{item.valor}} - {{item.descripcion}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>

    </form>
  </mat-card-body>
  <!-- <mat-card-actions align="end" class="p-3">
    <button mat-stroke-button color="primary" class="btn btn-primary">Declarar</button>
  </mat-card-actions> -->
</mat-card>
