table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.botonExcel {
  height: 55px;
  width: 140px;
  background-color: rgb(101, 196, 137) !important;
  color: white !important;
  font-size: 20px;
  margin-left: 2px;
  margin-bottom: 2px;
}
.botonValidar{
  height: 55px;
  width: 210px;
  background-color: rgb(11, 109, 167) !important;
  color: white !important;  
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 2px;
}
.botonBuscar{
  height: 55px;
  width: 140px;
  background-color: rgb(72, 188, 255) !important;
  color: white !important;  
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 2px;
}
th.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-fechaInicioTraslado.mat-column-fechaInicioTraslado.ng-star-inserted{
  white-space: nowrap !important;
}
.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell{
  white-space: nowrap !important;
}
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 20px !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  padding-top: 15px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  padding-top: 15px !important;
}