<mat-toolbar class="bg-primary text-white">
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Menu</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="side" class="nav-content-material">
    <div class="nav-section">
      <span>Menu</span>
    </div>
    <div (click)="changeRoute('plataforma/main')" class="nav-item {{activeRoute('main')==true?'active':''}}" >
      <mat-icon>edit_document</mat-icon>
      <a>Emitir una Guía de Remisión</a>
    </div>
    <div (click)="changeRoute('plataforma/reporte')" class="nav-item" >
      <mat-icon>edit_document</mat-icon>
      <a>Reporte GRE</a>
    </div>
    <div (click)="changeRoute('plataforma/transportista')" class="nav-item" >
      <mat-icon>edit_document</mat-icon>
      <a>Emitir una Guía de Transporte</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="p-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
