<h2 mat-dialog-title id="titulo">Chofer</h2>

<form novalidate [formGroup]="choForm" (ngSubmit)="action()" >    
    <mat-dialog-content class="mat-typography ">

        <div class="example w-100 "> 
            <mat-form-field class="w-50 " appearance="outline">
                <mat-label>Número de documento</mat-label>
                <input type="text" matInput formControlName="numerodocumentochofer" [readonly]="data.numerodocumentochofer != undefined && data.numerodocumentochofer.length > 0 "[required]="true" placeholder="Ingrese el número de documento"/>
                <mat-error *ngIf="choForm.get('numerodocumentochofer')!.hasError('required') && choForm.get('numerodocumentochofer')!.touched"> El numero de documento es obligatorio</mat-error>
                <mat-error *ngIf="choForm.get('numerodocumentochofer')!.hasError('maxlength') && choForm.get('numerodocumentochofer')!.touched"> El numero de documento no puede ser mayor a 11 digitos</mat-error>
                <mat-error *ngIf="choForm.get('numerodocumentochofer')!.hasError('minlength') && choForm.get('numerodocumentochofer')!.touched"> El numero de documento no puede ser menor a 8 digitos</mat-error>
                <mat-error *ngIf="choForm.get('numerodocumentochofer')!.hasError('pattern') && choForm.get('numerodocumentochofer')!.touched"> El numero de documento solo acepta numeros</mat-error>
            </mat-form-field>
            
            <mat-form-field class="w-50" appearance="outline">
                <mat-label>Tipo de documento</mat-label>
                <mat-select formControlName="tipodocumentochofer" [required]="true" placeholder="Seleccione el tipo de documento">
                    <mat-option value="1">DNI</mat-option>
                    <mat-option value="6">RUC</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="example w-100 "> 
            <mat-form-field class="example-full-width w-50" appearance="outline">
                <mat-label> Nombre </mat-label>
                <input type="text" matInput formControlName="nombre" [required]="true" placeholder="Ingrese el nombre de chofer"/>
                <mat-error *ngIf="choForm.get('nombre')!.hasError('required') && choForm.get('nombre')!.touched"> El nombre es obligatorio</mat-error>
            </mat-form-field>
                
            <mat-form-field class="example-full-width w-50" appearance="outline">
                <mat-label> Apellidos </mat-label>
                <input type="text" matInput formControlName="apellido" [required]="true" placeholder="Ingrese sus apellidos"/>
                <mat-error *ngIf="choForm.get('apellido')!.hasError('required') && choForm.get('nombre')!.touched"> Los apellidos son obligatorios</mat-error>
            </mat-form-field>
        </div>

        <div class="example w-100 "> 
            <mat-form-field class="example-full-width w-50" appearance="outline">
                <mat-label> Brevete </mat-label>
                <input type="text" matInput formControlName="brevete" [required]="true" placeholder="Ingrese el brevete"/>
                <mat-error *ngIf="choForm.get('brevete')!.hasError('required') && choForm.get('brevete')!.touched"> El brevete es obligatorio</mat-error>
            </mat-form-field>
                
            <mat-form-field class="example-full-width w-50" appearance="outline">
                <mat-label> Placa del vehículo </mat-label>
                <input type="text" matInput formControlName="placavehiculo" [required]="true" placeholder="Ingrese la placa del vehículo"/>
                <mat-error *ngIf="choForm.get('placavehiculo')!.hasError('required') && choForm.get('placavehiculo')!.touched"> La placa del vehículo es obligatorio</mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end" class="p-3">
        <button mat-stroke-button color="primary" (click)="onNoClick($event)" class="btn btn-danger me-3"> Cancelar  </button>
        <button mat-stroke-button color="primary"  type="submit"  [disabled]="choForm.invalid" class="btn btn-primary">  {{ boton }} </button>
    </mat-dialog-actions>

</form>

