.butondeadd {
  height: 56px !important;
}

.butondeadd > mat-icon {
  font-size: 25px !important;
  width: 25px;
  height: 25px;
  padding-right: 0px !important;
  margin-right: 0px !important;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

button > mat-icon {
  padding-right: 0px !important;
  margin-right: 0px !important;
}

.buttonchunqued {
  width: 44px !important;
  min-width: 0px !important;
}
