#titulo {
  margin-bottom: -15px;
}

.example mat-form-field + mat-form-field {
    padding-left: 5px; 
    padding-right: 5px; 
  }

/* mat-form-field {
  margin: -8px !important;
}

.marco1 {
  padding-right: 15px !important;
}

.marco2 {
  margin-left: 5px !important;
} */