.example mat-form-field + mat-form-field {
    /* margin-left: 15px;  */
  }

mat-form-field {
  margin: -8px !important;
  /* padding: -8px !important; */
}

.marco1 {
  /* margin-right: 5px !important; */
  padding-right: 15px !important;
}

.marco2 {
  margin-left: 5px !important;
}